<!doctype html>
<html>

<head>
    <title>5725 Project</title>
    <link rel="stylesheet" href='../static/style.css'/>
</head>

<body>
	<h1>Pan Tilt System</h1>
	<h3><img src="{{ url_for('video_feed') }}" width="50%"></h3>
	<hr>
	<h3>Adjust the angle according given angle value: <a href="given_angle.html" class="button">GIVEN ANGLE VALUE</a></h3>
	<hr>
	<h3>Adjust the angle according to a specific angle: <a href="specific_angle.html" class="button">SPECIFIC ANGLE</a></h3>
	<hr>
	<h3>Adjust the angle with incremental - decremental angle: <a href="in_de_angle.html" class="button">INCREMENTAL-DECREMENTAL ANGLE</a></h3>
	<hr>
	
	<p> @2021 Developed by sd925 & yp387 </p> 
</body>

</html>







